<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lostc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EasterEgg"></activity>
        <activity android:name=".Loesung" />
        <activity android:name=".Programmieren" />
        <activity android:name=".Verloren" />
        <activity android:name=".Gewonnen" />
        <activity android:name=".Quiz" />
        <activity android:name=".Bordbuch" />
        <activity android:name=".Logbuch" />
        <activity android:name=".Quellen" />
        <activity android:name=".Crew" />
        <activity android:name=".Team_kontaktieren" />
        <activity android:name=".ExampleDialog" />
        <activity android:name=".ExampleDialog2" />
        <activity android:name=".Einstellungen" />
        <activity android:name=".Statistik" />
        <activity android:name=".Seekarte" />
        <activity android:name=".Main_menue" />
        <activity android:name=".Choose_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>